{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Referral Mate</title>
  <!-- Required meta tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'referral_app/main.css' %}">
 
</head>

<body>
  <div class="overall">

  <!--- Facebook OAuth SDK Start -->
  <script>
    window.fbAsyncInit = function () {
      FB.init({
        appId: '256882241917224',
        cookie: true,
        xfbml: true,
        version: '3.2'
      });

      FB.AppEvents.logPageView();

    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <!--- Facebook OAuth SDK End -->


  <div class="wrapper">
    <div id="imgwrap">
      <a href="/"><img id="logo" src="{% static "referral_app/topright.png" %}"></a>
    </div>

    {% block container %}{% endblock %}
  </div>
</div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>