{% extends "referral_app/layout.html" %}
{% load crispy_forms_tags %}
{% block container %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<div class="cards">
    <h1 class="border-bottom mb-4">REFERRAL CODES</h1>

    <div class="row">
        <div class="col-sm logo-list">
            {% for brand in brands %}
                <a href="{% url 'brand-detail' brand.id %}"><i><img src="{{ brand.logo.url }}" width="30" /></i></a>
            {% endfor %}
        </div>
    </div>

    <h1 class="border-bottom mt-2 mb-4">FRIENDS</h1>
    <div class="row">
        <div class="col-sm">
            <div class="friends-list">
                {% for element in relationships %}
                <a href="{% url 'friend-detail' element.to_person.id %}">
                    <div class="friend">
                      <img src="{{ element.to_person.image.url }}" alt="" class="friends-pic">
                        <p>{{ element.to_person.user.username }}</p>
                    </div>
                </a>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2>INVITE A FRIEND</h2>
            <form method="POST" class="flex flex-col">
                {% csrf_token %}
                {% for field in form %}
                <div>
                    {{field.errors}}
                </div>
                <div class="flex flex-row">
                    <div>{{field}}</div>
                    <button id="send" class="btn btn-outline-primary btn-sm">Send</button>
                </div>
                {% endfor %}
            </form>
            
        </div>
    </div>

    <h1 class="border-bottom mt-4 mb-4">ADD A NEW CODE</h1>
    <div class="row">
        <div class="col-sm">
            <a href="{% url 'code-create' %}"><button class="btn btn-outline-primary">Add a new code</button></a>
        </div>
    </div>
</div>
{% endblock %}