{% extends "referral_app/layout.html" %}

{% block container %}

<h1 class="border-bottom mb-4">Referral Codes</h1>
<div class="cards">
    <div class="card">
        <h1>Friends</h1>
    </div>
    <div class="card">
        <h1>Add a new code</h1>
        <button>Add</button>
    </div>
    <div class="card">
        <h1>List of referral codes</h1>
        <ul>
            {% for code in object_list %}
                <li>Code: {{ code.code }}</li>
                <li>bla2</li>
                <li>bla3</li>
            {% endfor %}
        </ul>
    </div>
    <div class="card">
        <h1>Feed</h1>
            <ul>
            <li>bla</li>
            <li>bla2</li>
            <li>bla3</li>
        </ul>
    </div>
</div>
{% endblock %}