{% extends "referral_app/layout.html" %}

{% block container %}

<h1 class="border-bottom mb-4">Referral Codes</h1>
<div class="cards">
    <div class="row">
        <div class="col-sm">
            <h1>Friends</h1>
            <div class="friends-list">
                {% for element in relationships %}
                <div class="friend">
                    <img src="{{ element.to_person.image.url }}" alt="" class="friends-pic">
                        <p>{{ element.to_person.first_name }}</p></div>
            {% endfor %}
            </div>
        </div>

        <div class="col-sm">
            <h1>Add a new code</h1>
            <button class="btn btn-outline-primary">Add</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h1>List of referral codes</h1>
            <ul>
                {% for code in object_list %}
                    <li>Code: {{ code.code }}</li>
                    <li>bla2</li>
                    <li>bla3</li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-sm">
            <h1>Feed</h1>
            <ul>
                <li>bla</li>
                <li>bla2</li>
                <li>bla3</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}