{% extends "referral_app/layout.html" %}

{% block container %}
<h1 class="border-bottom mb-4">Profile for {{ object.username }}</h1>

<div class="cards">
    <div class="row">
        <div class="cards col-sm">
            <h2>My Details</h2>
            <div class="card-content">
                <div>
                    <img src="{{ object.image.url }}" alt="" class="profile-pic">
                    </div>
                <div>
                    <div>username: {{object.user.username}}</div>
                    <div>email: {{object.user.email }}</div>
                    <div>first name: {{object.first_name}}</div>
                    <div>last name:{{object.last_name}}</div>
                    <div>city: {{object.city}}</div>
                </div>
                <div></div>
            </div>
        </div>
        <div class="cards col-sm">
            <h2>My Codes</h2>
        </div>
    </div>
    <div class="row">
        <div class="cards col-sm">
            <h2>{{ object.user.username }}'s friends</h2>
            <div class="friends-list">

            </div>
        </div>
    </div>
</div>
{% endblock %}