{% extends "referral_app/auth_layout.html" %}
{% load crispy_forms_tags %}
{% block container %}

<div class="content-section">
  <div class="left">

  </div>
<div class="right">
  <div class="small-right">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"></div>
            {{ message }}
        {% endfor %}
        {% endif %}
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Save Changes</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}