{% extends "referral_app/layout.html" %}

{% block container %}
{% if user.get_full_name %}
    <h1 class="border-bottom mb-4">Profile for {{ user.get_full_name }}</h1>
{% else %}
    <h1 class="border-bottom mb-4">Profile for {{ user.username }}</h1>
{% endif %}

<div class="cards">
    <div class="row">
        <div class="cards col-sm">
            <h2>MY DETAILS</h2>
            <div class="card-content">
                <div>
                    <img src="{{ user.profile.image.url }}" alt="" class="profile-pic">
                    </div>
                <div>
                    <div>username: {{ user.username }}</div>
                    <div>email: {{ user.divrofile.email }}</div>
                    <div>first name: {{ user.first_name }}</div>
                    <div>last name: {{ user.last_name }}</div>
                    <div>city: {{ user.city }}</div>
                </div>
                <div><a href="#"><button class="btn btn-outline-primary">Edit Profile</button></a></div>
            </div>
        </div>
        <div class="cards col-sm">
            <h2>MY CODES</h2>
                <div class="row">
                    <div class="col-sm logo-list">
                        {% for code in codes %} 
                        <a href="{% url 'code-detail' code.id %}"><i><img src="{{code.brand.logo}}" width="30" /></i></a>
                        {% endfor %}
                    </div>
                </div>

        </div>
    </div>
    <div class="row">
        <div class="cards col-sm">
            <h2>MY FRIENDS</h2>
            <div class="friends-list flex-col">
                {% if invitations %}
                <h3>Friend requests</h3>
                {% for invitation in invitations %}
                <a href="">
                    <div class="friend flex">
                        <div>
                            <img src="{{ invitation.sender.profile.image.url }}" alt="" class="friends-pic">
                        </div>
                        <p>{{ element.to_person.first_name }}</p>
                        <div><a href="">Approve</a> | <a href="">Deny</a></div>
                    </div>
                </a>
                
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="friends-list">
            {% for element in relationships %}
            <a href="{% url 'friend-detail' element.to_person.id %}">
                <div class="friend">
                    <img src="{{ element.to_person.image.url }}" alt="" class="friends-pic">
                    <p>{{ element.to_person.first_name }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}