/*This applies from 0px to 600px*/
body {
  font-family: Montserrat-regular, serif;
}

header {
  display: flex;
  justify-content: space-between;
}

a, a:hover {
  color: #323232;
  text-decoration: none;
  padding: 0px 10px;
}

nav {
  display: flex;
  justify-content: flex-end;  
}

h1 {
  font-weight: bold;
  font-size: 1rem;
}
h2 {
  font-size: 0.8rem;
}

form {
  display: flex;
  justify-content: space-between;
}
.menu-item, .menu-item:active {
  font-family: ProximaNova, sans-serif;
  color: #323232;
  text-transform: uppercase;
  display: block;
  font-size: 11px;
  line-height: 40px;
  padding-top: 30px;
}

.menu-item:hover {
  text-shadow: 0 0 1px rgba(0,0,0,.5);
  font-weight: bold;
  color: #323232;
  padding-top: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  flex-direction: column;
}

.card {
  width: 400px;
}

.card-content {
  display: flex;
  justify-content: space-around;
}
.logo {
  max-width: 100px;
/*  display: flex;
  position: absolute;
  height: 60px;
  right: 30px;
  top: 10px;*/
}

/* -------------------------------------
Main Page Cards
----------------------------------------*/
.row {
  margin-right: 0px;
  width: 100%;
}
.friends-list {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}

.friend {
  padding: 1rem;
  text-align: center;
}

.friend p {
  margin: 0px;
  color: gray;
  font-size: small;
}
.friends-pic {
  max-width: 3rem;
  border-radius: 50%;
}

.logo-list {
  display: flex;
  padding-bottom: 2rem;
  overflow-y: scroll;
}


.logo-list i {
  margin-right: 10px;
  border-radius:50%;
  display:inline-block;
  padding:10px;
  border: solid 1px lightgray;
}

input[type="text"] {
  background-color: whitesmoke;
  border-color: transparent;
  border-radius: 2px;
  padding: 0.3rem;
  color: gray;
}
/* -------------------------------------
Profile Page
----------------------------------------*/
.profile-pic {
  max-width: 6rem;
  max-height: 6rem;
  border-radius: 50%;
  margin: 1rem;
}

/*This applies from 600px onwards*/
@media (min-width: 600px) {


}