/*This applies from 0px to 600px*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700');

body {
  font-family: 'Montserrat', serif;
  font-size: 12px;
  
}

header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

a, a:hover {
  color: #323232;
  text-decoration: none;
  /*padding: 0px 10px;*/
}

nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}

h1 {
  font-weight: bold;
  font-size: 1rem;
}
h2, h3 {
  font-size: 0.8rem;
}

form {
  display: flex;
  justify-content: space-between;
}

img {
  vertical-align: -webkit-baseline-middle;
}
.menu-item, .menu-item:active {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #323232;
  text-transform: uppercase;
  display: block;
  font-size: 12px;
  line-height: 40px;
  padding-top: 30px;
}

.menu-item:hover {
  text-shadow: 0 0 1px rgba(0,0,0,.5);
  font-weight: bold;
  color: #323232;
  padding-top: 30px;
}
.menu-item a{
  padding: 0px 0.3rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  flex-direction: column;
}

.card {
  width: 400px;
}

.card-content {
  display: flex;
  justify-content: space-around;
}
.logo {
  max-width: 100px;
  padding-left: 10px;
  padding-top: 10px;
/*  display: flex;
  position: absolute;
  height: 60px;
  right: 30px;
  top: 10px; */
}

#id_description {
  max-height: 100px;
}

/* -------------------------------------
Main Page Cards
----------------------------------------*/

.row {
  margin-right: 0px;
  width: 100%;
}
.friends-list {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}

.friend {
  padding: 1rem;
  text-align: center;
}

.friend p {
  margin: 0px;
  color: gray;
  font-size: small;
}
.friends-pic {
  max-width: 3rem;
  border-radius: 50%;
}

.logo-list {
  display: flex;
  padding-bottom: 2rem;
  overflow-y: scroll;

}

.logo-list i {
  margin-right: 10px;
  border-radius:50%;
  display:inline-block;
  padding:10px;
  border: solid 1px lightgray;
  height: 100%;
}

input[type="text"], input#id_email {
  background-color: whitesmoke;
  border-color: transparent;
  border-radius: 2px;
  padding: 0.3rem;
  color: gray;
}

/* -------------------------------------
Profile Page
----------------------------------------*/

.profile-pic {
  max-width: 6rem;
  max-height: 6rem;
  border-radius: 50%;
  margin: 1rem;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}
/*This applies from 600px onwards*/

.form-group a {
  color: var(--blue);
}

/* -------------------------------------
Code Page
----------------------------------------*/
.code-header {
  margin: 2rem;
}
img.logo-header {
  border-radius: 50%;
  max-width: 10rem;
}
@media (min-width: 375px) {
  body {
    background-image: url("bg-01-new.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.4);
  }

.overall {
  max-width: 375px;
  height: 667px;
  overflow-y: scroll;
  margin: auto;
  background-color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;

  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 0px 23px 3px 23px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  }

#id_description {
  max-height: 100px;
  }
}
